@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/OpenSansBold.ttf");
  font-family: "Open Sans";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/OpenSansCondensedRegular.ttf");
  font-family: "Open Sans";
  font-weight: 400;
}
