@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*------Color variables------*/
    --black_900: #030303;
    --gray_100: #f4f4f4;
    --green_a700: #00a651;
    --white_a700: #ffffff;

    /*------Border radius variables------*/
    --radius-xs: 20px;
    --radius-sm: 24px;

    /*------Spacing variables------*/
    --space-xs: 14px;
    --space-sm: 16px;
  }
  [type="text"],
  input:where(:not([type])),
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    appearance: initial;
    background-color: initial;
    border: initial;
    border-width: 0;
  }
}
@layer components {
  /*-------------------------------------
  Container CSS
--------------------------------------*/
  .container-xs {
    @apply w-full mx-auto max-w-[1376px];
  }
}
